@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: open sans;
  transition: ease 0.5s;
  text-decoration: none;
  list-style-type: none;
  font-size: 12px;
  font-weight: 300;
}

body {
  background: #2f2d3f;
  color: white;
}

.container {
  width: 100%;
  max-width: 450px;
  background: #282639;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 90vh;
  box-shadow: #292739 0 10px 20px;
}

.header {
  background: #ff6969;
  display: flex;
  padding: 15px;
  border-radius: 10px 10px 0 0;
}
.grp-img {
  position: relative;
  width: 125px;
  height: 45px;
}
.grp-img img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  border: solid 2px white;
  position: absolute;
  top: 0;
  left: 0;
}
.grp-img .i1 {
  z-index: 1;
}
.grp-img .i2 {
  left: 40px;
}
.grp-img .i3 {
  left: 80px;
}
.grp-info {
  padding: 0 15px;
}
.grp-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 3px;
}
.grp-status {
  letter-spacing: 1px;
}
.flex{
  width: 100%;
  display: flex;
}
.pos-absolute{
  position: absolute;
  bottom: 5px;
  margin-left: 25px;
  margin-top: 20px;
}
.chatbox {
  padding: 40px 20px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;
  flex: 2;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
 
}
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
  
}
.chatbox .chat {
  display: flex;
  gap: 15px;
}
.chatbox img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  border: solid 2px white;
}
.chatbox .msg {
  background: #3a384c;
  max-width: 80%;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  font-size: 13px;
}
.msg ion-icon {
  font-size: 20px;
  color: #3a384c;
  position: absolute;
  top: 10px;
}
.receiver {
  flex-direction: row-reverse;
}
.sender ion-icon {
  left: -14px;
}
.receiver ion-icon {
  right: -14px;
  transform: rotate(180deg);
}

.policy {
  background: #3a384c;
  padding: 25px;
  border-radius: 0 0 10px 10px;
}
.policy p {
  font-size: 13px;
}
.policy p a {
  font-size: 13px;
  color: #ff6969;
  text-decoration: underline;
}
.agree {
  display: inline-block;
  color: #ff6969;
  border: solid 2px #ff6969;
  border-radius: 50px;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
}
.agree:hover {
  color: white;
  background: #ff6969;
}

.close {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #ff6969;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -80px;
  right: 0;
}
.close:hover {
  box-shadow: #292739 0 0 10px 10px;
}
.close:hover ion-icon {
  transform: rotate(360deg);
}
.close ion-icon {
  font-size: 40px;
}

input {
  padding: 8px;
  width: 80%;
}
button {
  padding: 10px;
  outline: none;
  background: none;
  border: none;
}

.send {
  font-size: 20px;
  color: red;
}
.login-input{
  width: 100%;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  color: #fff;
  background: #ff6969;
  border-color: #ff6969;
}

.form-control{
  display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;

}
